/*.img_format_300_200 {*/
/*    width: 300px;*/
/*    height: 200px;*/
/*    border-style: solid;*/
/*}*/

/*.img_format_300_200 img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*    object-position: center;*/
/*}*/

/*.img_format_200_250 {*/
/*    width: 200px;*/
/*    height: 250px;*/
/*    border-style: solid;*/
/*}*/

/*.img_corr img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*    object-position: center;*/
/*}*/

/*.to_center {*/
/*    overflow: hidden;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.wide_img {*/
/*    width: 480px;*/
/*    height: 270px;*/
/*    border: 0;*/
/*}*/

/*.tall_img {*/
/*    width: 256px;*/
/*    height: 284px;*/
/*    border: 0;*/
/*}*/

/*.to_center img {*/
/*    height: 100%;*/
/*    width: auto;*/
/*}*/


a.no_effect:active, /* активная/посещенная ссылка */
a.no_effect:hover,  /* при наведении */
a.no_effect {
    text-decoration: none;
    color: #000000;
}

.grey {
    color: #707070;
}

/*:hover :active*/
/*background-image: linear-gradient(180deg, transparent 65%, #5bf 65%); for btn*/

td.title {
    background-color: #dddddd;
    align: center;
    font-size: 14pt;
    padding: 5px;
}
td.ordinary {
    background-color: #eeeeff;
    align: center;
    font-size: 14pt;
    padding: 5px;
}
p {
    font-size: 14pt;
}
