{% extends "base.html" %}
<meta charset="UTF-8">

{% block content %}
    <h1>Поиск новой игры</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.keywords.label }}<br>
            {{ form.keywords(class="form-control") }}<br>
            {% for error in form.keywords.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.categories.label }}<br>
            {{ form.categories(class="form-control") }}<br>
            {% for error in form.categories.errors %}
                <p content="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.result_count.label }}<br>
            {{ form.result_count(class="form-control") }}<br>
            {% for error in form.result_count.errors %}
                <p content="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {{ message }}
    </form>
{% endblock %}
