{% extends "base.html" %}
<meta charset="UTF-8">

{% block content %}
<h1>Пользователь: {{ user.name }}</h1>
<h5 class="grey">id: {{ user.id }}</h5><br>

<h3>Баланс: <b>{{ user.value_to_str(user.balance) }}</b></h3>
<form action="" method="post">
  {{ form.hidden_tag() }}
  <div class="form-group row">
    {{ form.add_balance.label(class="col-xxs-10 col-xs-6 col-md-5 col-lg-3 col-form-label") }}
	  <div class="col-xs-3 col-md-4 col-lg-5">{{ form.add_balance(class="form-control") }}</div><br>
    {% for error in form.add_balance.errors %}
      <p class="alert alert-danger" role="alert">{{ error }}</p>{% endfor %}
  </div><br>
	<div class="form-group row">
    {{ form.password.label(class="col-xxs-10 col-xs-6 col-md-5 col-lg-3 col-form-label") }}
		<div class="col-xs-3 col-md-4 col-lg-5">{{ form.password(class="form-control", type="password") }}</div><br>
    {% for error in form.password.errors %}
			<p class="alert alert-danger" role="alert">{{ error }}</p>{% endfor %}
  </div><br>
  <div class="form-group row col-xxs-5 col-xs-4 col-sm-3 col-lg-3">{{ form.submit(type="submit", class="btn btn-warning") }}</div>
  {{message}}
</form>
{% endblock %}
