<div class="col py-3">
<div class="card h-100 border-secondary">

	<a class="no_effect" href="/games/{{  game.id  }}">
		{% if not game.is_open %}<div class="card-header" style="background-color: lightsalmon;">Ограниченный доступ</div>{% endif %}
		<img src="{{ game.get_img_urls()['Tall'] }}" class="card-img-top" alt="Скриншот">
	</a>

	<div class="card-body">
	  <h3 class="card-title">{{ game.title }}</h3>
		{% if game.developer_name %}
		<h5 class="card-subtitle mb-3 text-muted">{{ game.developer_name }}</h5>{% endif %}
    <p class="card-text">
	    <b>
		    {% if current_user.is_authenticated and game.id in current_user.get_library() %}
		      <a class="no_effect card-link" href="{{ url_for('static', filename='txt/game.txt') }}" download>Скачать</a>
		    {% else %}
			    {% if game.discount %}
			      Скидка {{ game.discount * 100 // game.original_price }}%<br>
			      <s>{{ game.value_to_str(game.original_price) }}</s>
			    {% endif %}
			    {{ game.value_to_str(game.discount_price) }}
		    {% endif %}
	    </b><br>
    </p>
  </div>
	<!--<a class="btn btn-primary" style="vert-align: bottom;" href="/games/{{  game.id  }}">Обзор</a>-->
	<div class="card-footer">
		<small class="text-muted">Дата издания - {{ game.date_to_str(game.published_date) }}</small>
	</div>

</div>
</div>
