{% extends "base.html" %}
<meta charset="UTF-8">


{% block content %}
<h1>Поиск игр</h1>
<form action="" method="post">
  {{ form.hidden_tag() }}<br>
	<div class="form-group row">
    {{ form.select.label(class="col-sm-2 col-form-label") }}
		<div class="col-sm-15">{{ form.select(class="form-control") }}</div><br>
    {% for error in form.select.errors %}
			<p class="alert alert-danger" role="alert">{{ error }}</p>{% endfor %}
  </div>

	<div class="form-group row">
    {{ form.price_start.label(class="col-sm-1 col-form-label") }}
		<div class="col-sm-2">{{ form.price_start(class="form-control") }}</div>
		{{ form.price_end.label(class="col-form-label") }}
		<div class="col-sm-2">{{ form.price_end(class="form-control") }}</div><br>

		{% for error in form.price_start.errors %}
      <p class="alert alert-danger" role="alert">{{ error }}</p>{% endfor %}
	  {% for error in form.price_end.errors %}
      <p class="alert alert-danger" role="alert">{{ error }}</p>{% endfor %}
  </div>

  <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
  {{ message }}

</form>
{% endblock %}
