{% extends "base.html" %}
<meta charset="UTF-8">

{% block content %}
<style>
  .wide_img {
    width: 480px;
    height: 270px;

    border: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wide_img img {
    height: 100%;
    width: auto;
  }
</style>

<h1>{{ game.title }}</h1>

<div class="wide_img">
  <img src="{{ game.get_img_urls()['Wide'] }}" alt="Картинка из игры">
</div>

<h3>Цена: {{ price['op'] }}</h3>

<h4>Разработчик: {{ game.developer_name }}<br>
    Дата создания: {{ game.published_date }}<br>
    Дата публикации:  {{ game.placement_date }}</h4><br>

{% if current_user.is_authenticated %}
  <!--  Buttons  -->
  {% if not game.is_open and (current_user.id == game.user_id or current_user.is_admin) %}
    <p>
      <a class="btn btn-primary" href="/games/{{ game.id }}/open/">Открыть для общего доступа</a>
      <a class="btn btn-danger" href="/games/{{ game.id }}/delete/">Удалить из магазина</a>
    </p>
  {% else %}
    <p>
      <a class="btn btn-success" href="/games/{{ game.id }}/comment/">Добавить комментарий</a>
      <a class="btn btn-primary" href="/games/{{ game.id }}/add_favorites/">Добавить в избранное</a>
      <a class="btn btn-warning" href="/games/{{ game.id }}/add_basket/">Добавить в корзину</a>
      {% if current_user.is_admin %}
        <a class="btn btn-danger" href="/games/{{ game.id }}/delete/">Удалить из магазина</a>
      {% endif %}
    </p>
  {% endif %}
{% endif %}

<h2>Комментарии</h2>
{% for comment in comments %}
  <div class="col-md6 border rounded">
    <h2>{{ comment.user.name }}</h2>
    <div>
      Оценка: {{ comment.rating }}/10
    </div>
    <div>
      Дата: {{ comment.published_date }}
    </div>
    <div>
      Описание (содержание): {{ comment.content }}
    </div>
    {% if current_user.is_authenticated and (current_user == comment.user or current_user.is_admin) %}
      <p>
        <a href="/games/{{ game.id }}/comment/" class="btn btn-warning">Изменить</a>
        <a href="/games/{{ game.id }}/comment_delete/{{ comment.id }}/" class="btn btn-danger">Удалить</a>
      </p>
    {% endif %}
  </div>
{% endfor %}

{% endblock %}
