{% extends "base.html" %}
<meta charset="UTF-8">

{% block content %}
<style>
  .tall_img {
    width: 256px;
    height: 284px;

    border: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tall_img img {
    height: 100%;
    width: auto;
  }
</style>

<h1>Сисок игр</h1>
{% if current_user.is_authenticated %}
<br>
<a href="/add_game" class="btn btn-secondary">Предложить игру</a>
<a href="/filter" class="btn btn-secondary">Задать фильтр</a>
<br>
{% endif %}
{% for game in games %}
<br>
<a class="no_effect" href="/games/{{  game.id  }}">
  <div class="col-md6 border rounded">
    <h2>{% if not game.is_open %}*{% endif %}{{ game.title }}</h2>
    <div class="tall_img">
      <img src="{{ game.get_img_urls()['Tall'] }}" alt="Скриншот" width="200">
    </div>
    <div>
	    <b>
		    {% if game.discount %}
		      Скидка {{ game.discount * 100 // game.original_price }}%
		      <s>{{ game.value_to_str(game.original_price) }}</s>
		    {% endif %}
		    {{ game.value_to_str(game.discount_price) }}
	    </b>
    </div>
    <div>
      Издатель - {{ game.developer_name }}, Дата издания - {{ game.date_to_str(game.published_date) }}
    </div>
  </div>
</a>
{% endfor %}
{% endblock %}
