{% extends "base.html" %}

{% block content %}
<h1 class="mb-4">Авторизация</h1>
<!--<a href="/register">Зарагестрироваться</a>-->
<form action="" method="post">
  {{ form.hidden_tag() }}
  <div class="form-group row my-3">
    {{ form.email.label(class="col-xxs-6 col-xs-2 col-sm-3 col-md-2 col-lg-1 col-form-label") }}
	  <div class="col-sm-4 col-md-5 col-lg-3">{{ form.email(class="form-control", type="email") }}</div>
    {% for error in form.email.errors %}
        <p class="alert alert-danger" role="alert">{{ error }}</p>{% endfor %}
  </div>
  <div class="form-group row my-3">
    {{ form.password.label(class="col-xxs-6 col-xs-2 col-sm-3 col-md-2 col-lg-1 col-form-label") }}
	  <div class="col-sm-4 col-md-5 col-lg-3">{{ form.password(class="form-control", type="password") }}</div>
    {% for error in form.password.errors %}
        <p class="alert alert-danger" role="alert">{{ error }}</p>{% endfor %}
  </div>
	<div class="form-group form-check form-switch my-3">{{ form.remember_me(class="form-check-input") }}{{ form.remember_me.label(class="form-check-label") }}</div>
	<div class="form-group row my-3 col-xs-6 col-sm-5 col-lg-3">{{ form.submit(type="submit", class="btn btn-primary") }}</div>
	<div class="text-danger"><b>{{ message }}</b></div>
</form>
{% endblock %}
