{% extends "base.html" %}
<meta charset="UTF-8">

{% block content %}
<h1>Пользователь: {{ user.name }}</h1>
<h5 class="grey">id: {{ user.id }}</h5><br>

<h3>Баланс: <b>{{ user.value_to_str(user.balance, is_total=True) }}</b></h3>
<a class="btn btn-warning" href="/add_balance">Пополнить баланс</a>

<p><br>
Информация:<br>
Статус: {% if current_user.is_admin %} Администратор {% else %} Пользователь {% endif %}<br>
Почта {{ user.email }}<br>
Дата регистрации {{ user.date_to_str(user.created_date) }}<br>
{% if current_user.about %}О пользователе: {{ user.about }}{% endif %}
</p><br>


<!--  Buttons  -->
<p>
  <a class="btn btn-primary" href="/profile/favorites">Избранное</a>
  <a class="btn btn-primary" href="/profile/basket">Корзина</a>
  <a class="btn btn-success" href="/profile/library">Библиотека</a>
</p>

<p>
	<a class="btn btn-warning" href="/profile/settings">Настройки профиля</a>
	<a class="btn btn-danger" href="/logout">Выйти из профиля</a>
</p>

{% endblock %}
