{% extends "base.html" %}
{% block content %}

<h1 style="text-align: center;">Сисок игр</h1>

{% if current_user.is_authenticated %}
	<br>
	<a href="/add_game" class="btn btn-secondary">Предложить игру</a>
	<a href="/filter" class="btn btn-secondary">Задать фильтр</a>
	<br>
{% endif %}

{% if not games %}
 <h2 align="center">Пока пусто!</h2>
{% endif %}

<!--https://bootstrap-4.ru/docs/5.0/components/card/-->
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
{% for game in games %}
	{% include 'card.html' %}
{% endfor %}
</div>

{% endblock %}
