{% extends "base.html" %}
{% block content %}
<style>
h1, h2 {
	text-align: center;
}
</style>

<h1>{{ content[variant] }}</h1>
{% if variant == 3 %}<h5 class="grey">Кликните "Скачать", чтобы установить</h5>{% endif %}

{% if not games and not (variant == 2 and args['mes']) %}
 <h2 class="mt-4">Пока пусто!</h2>
{% endif %}

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
{% for game in games %}
	{% include 'card.html' %}
{% endfor %}
</div>

{% if variant == 2 and current_user.is_authenticated and games %}
	<br>
	<h4>Цена: {{ current_user.value_to_str(args['price'], is_total=True) }}<br>
			Скидка: {{ current_user.value_to_str(args['discount'], is_total=True) }}
	</h4>
	<h3><b>
		Итог: {{ current_user.value_to_str(args['total_price'], is_total=True) }}<br>
		Баланс: {{ current_user.value_to_str(current_user.balance, is_total=True) }}</b>
	</h3>
	<br>
	{% if args['total_price'] <= current_user.balance %}
		<a class="btn btn-success" href="/buy_games/{{ current_user.id }}">Купить игры</a>
	{% else %}
		<p><b>Недостаточно средств для покупки!</b></p>
		<a class="btn btn-warning" href="/add_balance">Пополнить баланс</a>
	{% endif %}
{% endif %}

{% if variant == 2 and args['mes'] and current_user.is_authenticated %}<h2 class="mt-5">{{ args['mes'] }}</h2>{% endif %}
<p></p>
{% endblock %}
