{% extends "base.html" %}

{% block content %}
<style>
h1, h2 {
	text-align: center;
}
</style>

<h1>Сисок игр</h1>

<br>
<div class="btn-group px-2">
	{% if current_user.is_authenticated and current_user.is_admin %}
	<a href="/users" class="btn btn-outline-danger">Пользователи</a>
	<a href="/add_game" class="btn btn-outline-primary">Предложить игру</a>
	{% endif %}
	<a href="/filter" class="btn btn-outline-dark">Задать фильтр</a>
</div>
<br>

{% if not games %}
 <h2 class="mt-4">Пока пусто!</h2>
{% endif %}

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 mb-4">
{% for game in games %}
	{% include 'card.html' %}
{% endfor %}
</div>

<!--<h4 class="my-3">-->
<!--	{% if start %}<a href="/?search=True&start={% if start <= 12 %}0{% else %}{{ start - 12 }}{% endif %}">Назад</a>{% endif %}-->
<!--	<a href="/?search=True&start={{ start }}">{{ (start - 1) // 12 + 2 }}</a>-->
<!--	{% if count - start > 0 %}<a href="/?search=True&start={{ start + 12 }}">Вперёд</a>{% endif %}-->
<!--</h4>-->

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item {% if not start %}disabled{% endif %}">
	    <a class="page-link" href="/?search=True&start={% if start <= count %}0{% else %}{{ start - count }}{% endif %}{{ add_line }}">
		    Предыдущая</a></li>

	  <li class="page-item active">
		  <a class="page-link" href="/?search=True&start={{ start }}{{ add_line }}">{{ (start - 1) // count + 2 }}</a></li>

	  <li class="page-item {% if not length_games > start + count %}disabled{% endif %}">
		  <a class="page-link" href="/?search=True&start={{ start + count }}{{ add_line }}">Следующая</a></li>
  </ul>
</nav>

{% endblock %}
