{% extends "base.html" %}
{% block content %}

<h1>{{ content[variant] }}</h1>
{% if variant == 3 %}<h5 class="grey">Кликните по игре, чтобы установить</h5>{% endif %}

{% if not games %}
 <h2 align="center">Пока пусто!</h2>
{% endif %}

{% for game in games %}
	<br>
	{% if not variant == 3 %}
		<a class="no_effect" href="/games/{{  game.id  }}">
		  {% include 'card.html' %}
		</a>
	{% else %}
		<a class="no_effect" href="{{ url_for('static', filename='txt/game.txt') }}" download>{% include 'card.html' %}</a>
	{% endif %}
{% endfor %}

{% if variant == 2 and current_user.is_authenticated and games %}
	<br>
	<h4>Цена: {{ current_user.value_to_str(args['price'], is_total=True) }}<br>
			Скидка: {{ current_user.value_to_str(args['discount'], is_total=True) }}
	</h4>
	<h3><b>
		Итог: {{ current_user.value_to_str(args['total_price'], is_total=True) }}<br>
		Баланс: {{ current_user.value_to_str(current_user.balance, is_total=True) }}</b>
	</h3>
	<br>
	{% if args['total_price'] <= current_user.balance %}
		<a class="btn btn-success" href="/buy_games/{{ current_user.id }}">Купить игры</a>
	{% else %}
		<p><b>Недостаточно средств для покупки!</b></p>
		<a class="btn btn-warning" href="/add_balance">Пополнить баланс</a>
	{% endif %}
{% endif %}

{% if variant == 2 and args['mes'] and current_user.is_authenticated %}<h2>{{ args['mes'] }}</h2>{% endif %}
<p></p>
{% endblock %}
